UnityProjects/MyPractice/Builds
UnityProjects/MyPractice/Library
UnityProjects/MyPractice/Temp
UnityProjects/MyPractice/Logs
UnityProjects/MyPractice/*.sln
UnityProjects/MyPractice/*.csproj
UnityProjects/MyPractice/.vs
UnityProjects/MyPractice/obj
UnityProjects/MyPractice/.vsconfig
UnityProjects/MyPractice/UserSettings